<div class ="tile-container">
    
    <div class="tile-row">
        {% for block in section.blocks %}
            <div class="tile-item">
               <img src={{ block.settings.tile-image | img_url: 'master' }} class="tile-image" >
                {{ block.settings.tile-title }}
                {{ block.settings.tile-text }}
            </div>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}

{
    "name":"arisit-image-tile",
    "settings":[
        {
        "type":"text",
        "id":"arisit-image-tile-title",
        "label":"Row Title"
    }
    ],
    "blocks":[
        {
        "type":"arisit-images",
        "name":"Image Tile",
        "settings":[
            {
            "type":"image_picker",
            "id":"tile-image",
            "label":"Pick an image"
        },
    {
        "type":"text",
        "id":"tile-title",
        "label":"Tile Title"
    },
    {
        "type":"textarea",
        "id":"tile-text",
        "label":"Tile Text"
    }
        ]}
    ],

    "presets": [
        {
        "name":"Arisit Tiles",
        "category":"Image"}
    ]}

{% endschema %}


{% style %}

 .tile-container{
     margin:1%;
   

 }

 .tile-row{

 }

 .tile-item{

 }

 .tile-image{
     width:300px;
     hieght:500px;
 }

 .tile-title{

 }

 .tile-text{

 }
{% endstyle %}