<div class="page-width">
<h2 style="text-align:center; margin-top: 25px;" > Media </h2>
<div class= "media-container">
    <div class ="media-items">
    1. <a class="arisit-media-link"target="_blank" href="https://cdn.shopify.com/s/files/1/0630/1057/0459/files/Ariston_b26c12a9-8380-48cb-b3e0-9786dc4d9fc5.png?v=1654152571"><i class="fa-solid fa-image"></i> Ariston logo </a><br>
    2. <a class="arisit-media-link" target="_blank" href="https://cdn.shopify.com/s/files/1/0630/1057/0459/files/Ariston_b26c12a9-8380-48cb-b3e0-9786dc4d9fc5.png?v=1654152571"><i class="fa-solid fa-image"></i> Arisit white logo</a><br>
    3. <a class="arisit-media-link"target="_blank" href="https://cdn.shopify.com/s/files/1/0630/1057/0459/files/Ariston_b26c12a9-8380-48cb-b3e0-9786dc4d9fc5.png?v=1654152571"><i class="fa-solid fa-image"></i> Arisit headquarter building image</a><br>
    4. <a class="arisit-media-link" target="_blank" href="https://cdn.shopify.com/s/files/1/0630/1057/0459/files/Ariston_b26c12a9-8380-48cb-b3e0-9786dc4d9fc5.png?v=1654152571"><i class="fa-solid fa-image"></i> Ritcher speaker v2020</a><br>
    5. <a class="arisit-media-link"target="_blank" href="https://cdn.shopify.com/s/files/1/0630/1057/0459/files/Ariston_b26c12a9-8380-48cb-b3e0-9786dc4d9fc5.png?v=1654152571"><i class="fa-solid fa-image"></i> Ritcher speaker v2022</a><br>
    6. <a class="arisit-media-link" target="_blank" href="https://cdn.shopify.com/s/files/1/0630/1057/0459/files/Ariston_b26c12a9-8380-48cb-b3e0-9786dc4d9fc5.png?v=1654152571"><i class="fa-solid fa-image"></i> Whirlpool black washing machine</a>
    </div>

</div>

</div>

{% style %}

.media-container{
    height:600px;
    width:80%;
    border: 2px solid #E5E5E5;
    margin:auto;
    border-radius:10px;
}

.media-items{
    padding:20px;
    padding-left:30px;
}

.arisit-media-link{
    color:#146EBE;
    text-decoration:underline;
}

.arisit-media-link .fa-solid {
    /* color:black; */
}
{% endstyle %}