{% section 'slideshow' %}

<div class="page-width commercial-container">
        <div class="commercial-container-title"> 
            <h2 align="center"><span class="title-black">WHO IS </span> ARISIT COMMERCIAL </h2>
        </div>
        <div class="commercial-main-content">
            <div class="commercial-row">
            <div class="wpb_wrapper">
                <p class="commercial-intro">Here at Arisit, appliances are our life. When we think about appliances, we think about you. From the design and functionality to the value and style, it’s all about making life easier. We only import the best products from around the world and constantly strive to develop and source new and exciting trends in the kitchen, laundry and alfresco areas of the modern Australian and New Zealand home. We work closely with our production partners directly across four continents to ensure that for any project, big or small, we can supply everything required to complete the job on time. We can even work with you to source a product that will meet your requirements and provide a unique solution to differentiate your next project. Quality is in our DNA, and with our technical and after sales service teams, we will offer the gold standard for your next project.</p>
            </div>
        
            <div class="map-container">
                <p align="center">
                    <img class="map-image" src="https://arisit.com/media/Australia-and-NZ.png" alt="Map of Australia">
                </p>
            </div>
        </div>

        <div class="commercial-container-title"> 
            <h2 align="center"><span class="title-black">OUR</span> BRANDS</h2>
        </div>
        

        {% section 'arisit-commercial-tile' %}
        
        <div class="commercial-container-title"> 
        <h2 align="center"><span class="title-black">RECENT</span> PROJECTS</h2>
        </div> 

        <div class="wpb_wrapper"><div id="ult-carousel-76707361628747b5218ee" class="ult-carousel-wrapper   ult_horizontal" data-gutter="10" data-rtl="false"><div class="ult-carousel-1709310195628747b5218be slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 5265px; transform: translate3d(-1170px, 0px, 0px);"><div class="ult-item-wrap slick-slide slick-cloned" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 565px;" data-slick-index="-2" id="" aria-hidden="true">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Bohem-Apartments.jpg" alt="Arisit Commercial Projects | Bohem Apartments - South Australia"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>BOHEM APARTMENTS | SOUTH AUSTRALIA</h4>
        <p>Developer – Starfish Developments</p>
        <p>Architect – Enzo Caroscio Architecture</p>
        <p>Builder – Maxcon</p>
        <p>Apartments – 234
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div><div class="ult-item-wrap slick-slide slick-cloned" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 565px;" data-slick-index="-1" id="" aria-hidden="true">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Yorkshire-Brewery.jpg" alt="Arisit Commercial Projects | Yorkshire Brewery Apartments - Victoria" title="Arisit Commercial Projects | Yorkshire Brewery Apartments - Victoria"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>YORKSHIRE BREWERY APARTMENTS | VICTORIA</h4>
        <p>Developer – SMA Projects Australia</p>
        <p>Architect – Hayball</p>
        <p>Builder – Icon Construction</p>
        <p>Apartments – 365
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div><div class="ult-item-wrap visible slick-slide slick-current slick-active animated no-animation" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 565px;" data-slick-index="0" aria-hidden="false">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Swanston-Central.jpg" alt="Arisit Commercial Projects | Swanston Central - Victoria"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>SWANSTON CENTRAL | VICTORIA</h4>
        <p>Developer – Hengyi Australia</p>
        <p>Architect – Elenberg Fraser</p>
        <p>Builder – Multiplex</p>
        <p>Apartments – 1039</p>
        <p>(Currently Delivering)
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div><div class="ult-item-wrap visible slick-slide slick-active animated no-animation" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 565px;" data-slick-index="1" aria-hidden="false">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Lighthouse-Tower.jpg" alt="Arisit Commercial Projects | Lighthouse Tower - Victoria"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>LIGHT HOUSE TOWER | VICTORIA</h4>
        <p>Developer – Hengyi Australia</p>
        <p>Architect – Elenberg Fraser</p>
        <p>Builder – Multiplex</p>
        <p>Apartments – 605
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div><div class="ult-item-wrap slick-slide animated no-animation" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 565px;" data-slick-index="2" aria-hidden="true">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Empire-Apartments.jpg" alt="Arisit Commercial Projects | Empire Apartments - Victoria"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>EMPIRE APARTMENTS | VICTORIA</h4>
        <p>Developer – Mammoth Empire Holdings &amp; PDS Group</p>
        <p>Architect – Hayball</p>
        <p>Builder – ProBuild</p>
        <p>Apartments – 474
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div><div class="ult-item-wrap slick-slide" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 565px;" data-slick-index="3" aria-hidden="true">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Bohem-Apartments.jpg" alt="Arisit Commercial Projects | Bohem Apartments - South Australia"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>BOHEM APARTMENTS | SOUTH AUSTRALIA</h4>
        <p>Developer – Starfish Developments</p>
        <p>Architect – Enzo Caroscio Architecture</p>
        <p>Builder – Maxcon</p>
        <p>Apartments – 234
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div><div class="ult-item-wrap slick-slide animated no-animation" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 565px;" data-slick-index="4" aria-hidden="true">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Yorkshire-Brewery.jpg" alt="Arisit Commercial Projects | Yorkshire Brewery Apartments - Victoria"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>YORKSHIRE BREWERY APARTMENTS | VICTORIA</h4>
        <p>Developer – SMA Projects Australia</p>
        <p>Architect – Hayball</p>
        <p>Builder – Icon Construction</p>
        <p>Apartments – 365
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div><div class="ult-item-wrap visible slick-slide slick-cloned" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 565px;" data-slick-index="5" id="" aria-hidden="true">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Swanston-Central.jpg" alt="Arisit Commercial Projects | Swanston Central - Victoria"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>SWANSTON CENTRAL | VICTORIA</h4>
        <p>Developer – Hengyi Australia</p>
        <p>Architect – Elenberg Fraser</p>
        <p>Builder – Multiplex</p>
        <p>Apartments – 1039</p>
        <p>(Currently Delivering)
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div><div class="ult-item-wrap visible slick-slide slick-cloned" data-animation="animated no-animation" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 565px;" data-slick-index="6" id="" aria-hidden="true">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="project-container">
        <div class="project-image"><img class="image" src="https://arisit.com/media/Lighthouse-Tower.jpg" alt="Arisit Commercial Projects | Lighthouse Tower - Victoria"></div>
        <div class="project-desc">
        <div class="project-desc-wrapper">
        <h4>LIGHT HOUSE TOWER | VICTORIA</h4>
        <p>Developer – Hengyi Australia</p>
        <p>Architect – Elenberg Fraser</p>
        <p>Builder – Multiplex</p>
        <p>Apartments – 605
        </p></div>
        </div>
        </div>
        
                </div>
            </div>
        </div></div></div><ul class="slick-dots" role="tablist" style=""><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><i type="button" style="color:#1d417b;" class="ultsl-record" data-role="none"></i></li><li aria-hidden="true" class="" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><i type="button" style="color:#1d417b;" class="ultsl-record" data-role="none"></i></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02" class=""><i type="button" style="color:#1d417b;" class="ultsl-record" data-role="none"></i></li></ul></div></div>			
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous" type="text/javascript">

            alert('hello')
                        jQuery(document).ready(function ($) {
                            if( typeof jQuery('.ult-carousel-1709310195628747b5218be').slick == "function"){
                                $('.ult-carousel-1709310195628747b5218be').slick({dots: true,autoplay: true,autoplaySpeed: 5000,speed: 1000,infinite: true,arrows: false,slidesToScroll:2,slidesToShow:2,swipe: true,draggable: true,touchMove: false,pauseOnHover: true,pauseOnFocus: false,responsive: [
                                    {
                                      breakpoint: 1025,
                                      settings: {
                                        slidesToShow: 2,
                                        slidesToScroll: 2,  
                                      }
                                    },
                                    {
                                      breakpoint: 769,
                                      settings: {
                                        slidesToShow: 1,
                                        slidesToScroll: 1
                                      }
                                    },
                                    {
                                      breakpoint: 481,
                                      settings: {
                                        slidesToShow: 1,
                                        slidesToScroll: 1
                                      }
                                    }
                                ],pauseOnDotsHover: true,customPaging: function(slider, i) {
                           return '<i type="button" style= "color:#1d417b;" class="ultsl-record" data-role="none"></i>';
                        },});
                            }
                        });
                    </script>
                    </div>


    <div class="commercial-container-title"> 
         <h2 align="center"><span class="title-black">OUR</span> PARTNERS</h2>

         {% section 'logo-list' %}
    </div>
    
</div>

</div>

{% style %}

.commercial-container{
    margin-top:40px;

}

.commercial-row{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:40px;
    margin-bottom:40px;
}

.title-black{
    color:black;
}

.wpb_wrapper{
    max-width:40%;
    text-align:justify;
    padding:0 20px 10px 0;
}
 

{% endstyle %}