<main class="main-content" id="MainContent">

    {% comment %} image {% endcomment %}
    <div class="slideshow-wrapper"><style data-shopify="" data-shopify-editor="{&quot;accessedSettings&quot;:[],&quot;filteredColorSettings&quot;:[]}">
        :root {  }
        @media only screen and (min-width: 769px) {
                  .hero-natural--template--15945108455643__16509386597f84c70b {
                    height: 0;
                    padding-bottom: 31.562499999999996%;
                  }
                }
      </style>
      <div class="hero-natural--template--15945108455643__16509386597f84c70b">
              <div id="Slideshow-template--15945108455643__16509386597f84c70b" class="hero hero--natural hero--template--15945108455643__16509386597f84c70b hero--mobile--auto loaded" data-natural="true" data-mobile-natural="false" data-autoplay="true" data-speed="5000" data-dots="true" data-slide-count="1"><div data-shopify-editor-block="{&quot;id&quot;:&quot;1650938659ef42ead3-0&quot;,&quot;type&quot;:&quot;image&quot;}" class="slideshow__slide slideshow__slide--1650938659ef42ead3-0 is-selected" data-index="0" data-id="1650938659ef42ead3-0"><style data-shopify="" data-shopify-editor="{&quot;accessedSettings&quot;:[{&quot;id&quot;:&quot;title_size&quot;,&quot;section_id&quot;:&quot;template--15945108455643__16509386597f84c70b&quot;,&quot;block_id&quot;:&quot;1650938659ef42ead3-0&quot;},{&quot;id&quot;:&quot;overlay_opacity&quot;,&quot;section_id&quot;:&quot;template--15945108455643__16509386597f84c70b&quot;,&quot;block_id&quot;:&quot;1650938659ef42ead3-0&quot;}],&quot;filteredColorSettings&quot;:[]}">
        :root {  }
        .slideshow__slide--1650938659ef42ead3-0 .hero__title {
                        font-size: 30.0px;
                      }
                      @media only screen and (min-width: 769px) {
                        .slideshow__slide--1650938659ef42ead3-0 .hero__title {
                          font-size: 60px;
                        }
                      }
                      
      
      </style>
      <div class="hero__image-wrapper hero__image-wrapper--no-overlay"><style data-shopify="" data-shopify-editor="{&quot;accessedSettings&quot;:[{&quot;id&quot;:&quot;focal_point&quot;,&quot;section_id&quot;:&quot;template--15945108455643__16509386597f84c70b&quot;,&quot;block_id&quot;:&quot;1650938659ef42ead3-0&quot;}],&quot;filteredColorSettings&quot;:[]}">
        :root {  }
        .hero__image--1650938659ef42ead3-0 {
                              object-position: center center;
                              font-family: "object-fit: cover; object-position: center center;";
                            }
      </style>
      <img class="hero__image hero__image--1650938659ef42ead3-0 lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_300x.jpg?v=1652916693" data-aspectratio="3.1683168316831685" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_180x.jpg?v=1652916693 180w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_360x.jpg?v=1652916693 360w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_540x.jpg?v=1652916693 540w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_720x.jpg?v=1652916693 720w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_900x.jpg?v=1652916693 900w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1080x.jpg?v=1652916693 1080w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1296x.jpg?v=1652916693 1296w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1512x.jpg?v=1652916693 1512w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1728x.jpg?v=1652916693 1728w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1944x.jpg?v=1652916693 1944w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_2160x.jpg?v=1652916693 2160w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_2376x.jpg?v=1652916693 2376w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_2592x.jpg?v=1652916693 2592w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_2808x.jpg?v=1652916693 2808w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_3024x.jpg?v=1652916693 3024w" sizes="1269px" srcset="//cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_180x.jpg?v=1652916693 180w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_360x.jpg?v=1652916693 360w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_540x.jpg?v=1652916693 540w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_720x.jpg?v=1652916693 720w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_900x.jpg?v=1652916693 900w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1080x.jpg?v=1652916693 1080w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1296x.jpg?v=1652916693 1296w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1512x.jpg?v=1652916693 1512w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1728x.jpg?v=1652916693 1728w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1944x.jpg?v=1652916693 1944w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_2160x.jpg?v=1652916693 2160w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_2376x.jpg?v=1652916693 2376w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_2592x.jpg?v=1652916693 2592w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_2808x.jpg?v=1652916693 2808w, //cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_3024x.jpg?v=1652916693 3024w"><noscript>
                            <img class="hero__image hero__image--1650938659ef42ead3-0"
                              src="//cdn.shopify.com/s/files/1/0630/1057/0459/files/contact-us_1400x.jpg?v=1652916693"
                              alt="">
                          </noscript></div></div></div>
            </div>
          </div>

          {% comment %} contact container {% endcomment %}
    <div
      id="shopify-section-template--15945108553947__16515390374f26b0e1"
      class="shopify-section"
    >
      <div class="page-width">
        <div class="arisit-contact-container">
          <div class="arisit-contact-row">
            <div class="contact-text-section">
                <h4 class="get-in-touch-title"> Get in touch </h4>
                <span>We'd love to hear from you. Our friendly team is always happy to help you.</span> <br /><br />
                <div class="enquiry-contact">
                    <i class="contact-fa fa-solid fa-clipboard-question"></i>
                  <span class="get-in-touch-title">General Enquiries</span class="get-in-touch-title"><br />
                  <div class="arisit-contact-details">
                  Warranty Enquiries: 1300 762 219 / 1300 815 589<br />
                  Sales/Spare Parts Enquiries: 1300 762 219<br />
                  Fax: (03) 9768 0838
                  </div>
                  <br />
                  
                  <i class="contact-fa fa-regular fa-circle-question"></i>
                  <span class="get-in-touch-title"> Commercial Enquiries</span class="get-in-touch-title"><br />
                  <div class="arisit-contact-details">
                  Sales Enquiry: (03) 9768 0846<br />
                  Sales Email: commercial.sales@arisit.com<br />
                  Warranty/Service: commercial.warranty@arisit.com
                </div>
                  <br />
                  
                  <i class="fa contact-fa fa-users"></i>
                  <span class="get-in-touch-title">Customer Service Hours (Australia)</span class="get-in-touch-title"><br />
                  <div class="arisit-contact-details">
                  Monday to Friday: 9:00am – 5:00pm (EST)
                </div>
                  <br />
                  
                  <i class="contact-fa fa-solid fa-location-dot"></i>

                  <span class="get-in-touch-title"> Head Office (Australia)</span class="get-in-touch-title"><br />
                  <div class="arisit-contact-details">
                  Arisit Pty. Ltd.<br />
                  40-50 Mark Anthony Drive<br />
                  Dandenong South, VIC 3175<br />
                  Email: arisit@arisit.com
                </div>
                <br />
                  <i class="contact-fa fa-solid fa-location-dot"></i>
                   <span class="get-in-touch-title">Head Office (New
                    Zealand)</span class="get-in-touch-title"></span
                  ><br />
                  <div class="arisit-contact-details">
                  <span class="contact-title">In Warranty Period:</span
                  ><span class="contact-data"> (09) 306 1020</span><br />
                  <span class="contact-title">Out of Warranty Period:</span
                  ><span class="contact-data"> (09) 306 1020</span><br />
                  <span class="contact-title"
                    >Spare Parts/Sales Enquires:</span
                  ><span class="contact-data"> (09) 306 1020</span><br />
                  <span class="contact-title">Fax:</span
                  ><span class="contact-data"> (03) 302 0077</span><br />
                </div>
                </div>
           
                </div>
            <div class="contact-form-section">
                <div class="page-width page-width--narrow"><div class="section-header">
                    <h2 class="section-header__title">
                      Leave us your query
                    </h2></div>
                
            
                <div class="form-vertical"><form method="post" action="/contact#contact-template--15945108553947__form" id="contact-template--15945108553947__form" accept-charset="UTF-8" class="contact-form" wtx-context="D6D4F56D-F775-49A9-8138-D093957520AF"><input type="hidden" name="form_type" value="contact" wtx-context="4BA81627-E42C-4A58-8DB1-2AFDEE7BCD46"><input type="hidden" name="utf8" value="✓" wtx-context="0B633823-D9BE-4C68-84DE-C999427BE6D8">
            
                    <div class="grid grid--small">
                      <div class="grid__item medium-up--one-half">
                        <label for="ContactFormName-template--15945108553947__form">Name</label>
                        <input type="text" id="ContactFormName-template--15945108553947__form" class="input-full" name="contact[name]" autocapitalize="words" value="" wtx-context="4F77D9BC-9D96-4388-8C00-A8E7FC6C699E">
                      </div>
            
                      <div class="grid__item medium-up--one-half">
                        <label for="ContactFormEmail-template--15945108553947__form">Email</label>
                        <input type="email" id="ContactFormEmail-template--15945108553947__form" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="" wtx-context="BAF5BF30-B928-4926-847C-7562651F62E7">
                      </div>
                    </div><label for="ContactFormPhone-template--15945108553947__form">Phone number</label>
                      <input type="tel" id="ContactFormPhone-template--15945108553947__form" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="" wtx-context="53268590-8700-4E77-A348-96F591A4B18C"><label for="ContactFormMessage-template--15945108553947__form">Message</label>
                    <textarea rows="5" id="ContactFormMessage-template--15945108553947__form" class="input-full" name="contact[body]"></textarea>
            
                    <button type="submit" class="btn">
                      Send
                    </button>
            
                    
                    <p data-spam-detection-disclaimer="">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
            
            </form></div>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

<style>
  .arisit-contact-container {
    margin:25px auto;
    border:2px solid #20447E;
    border-radius:20px;
    overflow:hidden;
     background-color: white; 
  }

  .arisit-contact-row {
    height:inherit;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
  }

  .contact-text-section {
    background-color: #20447E;
    color:white;
    padding: 45px;
    flex-wrap:wrap;
    flex: 1 0 40%;
  }

  .contact-form-section{
    padding: 45px;
    color: #20447E;
    flex: 1 0 50%;
}

.contact-fa{
    color:#F9F871;
    margin-right:5px;
    }
    
    .get-in-touch-title{
      color:#F9F871;
    }
    
    .arisit-contact-details{
      margin-left:25px;
    }
    
    .enquiry-contact{
    {% comment %} margin-left:20px; {% endcomment %}
    }

    @media screen and (max-width:768px){
        .arisit-contact-container {
            margin:10px 0 10px 0px;
    }
        .contact-text-section {
            padding: 25px;
        }

        .contact-text-section h4{
            padding-top:15px;
        }
</style>